  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css" rel="stylesheet" />
  <script>hljs.initHighlightingOnLoad();


</script>
<script type="module" >

import {URLs as MdBlockURLS,
        MarkdownBlock,
        MarkdownSpan,
        MarkdownElement} from "https://md-block.verou.me/md-block.js";
</script>
  <code class=""
<md-block>
[TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/
            editormd.js
            ...

```javascript  hljs
    let i=10;
```

</md-block>
